body {
    background: #DAD299;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#form_style {
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
}

#form_style > div:first-of-type {
    margin: auto;
}

#form_style form {
    background: #fff;
    width: 500px;
    padding: 30px;
    margin: auto;
}

#form_style form div {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 2px;
}

#form_style form div ul li {
    color: red;
}

#form_style form div > input {
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

#login {
    background: #fff;
    text-align: right;
    padding: 0px 30px 20px 0px;
}

input[type="submit"] {
    position: relative !important;

}

#init a{
    display: inline-block;
    padding: 15px;
    margin: 10px;
    background: #fff;
    min-width: 100px;
    font-weight: bold;
}

#results {
    background: #fff;
    padding: 30px 50px;
}

#results ul {
    list-style-type: none;
    padding: 0px;
}

#results ul li {
    margin: 10px;
}

