{% extends "base.html.twig" %}

{% block body %}

    <div id="form_style">

        <div id="init">
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn bg-white">Register</a>
        </div>


    </div>

{% endblock %}