{% extends "base.html.twig" %}

{% block body %}

    <div id="form_style">

        <div id="results">
            <ul>
            {% for result in results %}

                <li>{{ result.username }} | {{ result.time }} | {{ result.date|date("d.m.Y") }}</li>

            {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}